{% extends "base.html" %}

{% load static %}

{% block title %}{{food.title}}{% endblock %}

{% block style %}
<style>
    #thumbnail-holder {
        height: 50%;
    }

    @media all and (min-width: 768px) {
        #thumbnail-holder {
            height: 100%;
        }
    }

    .quantity-counter::-webkit-outer-spin-button,
    .quantity-counter::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .quantity-counter[type=number] {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row mb-5">
        <div class="col-3">
            <img src="{% static 'img' %}/{{food.image_url}}" alt="" class="w-100 rounded-4">
        </div>
        <div class="col">
            <h3 class="mb-2">{{food.title}}</h3>
            <div class="d-flex justify-content-between align-items-center">
                <p class="mb-2">By: <a href="/kitchen/{{food.kitchen.id}}">{{food.kitchen.name}}</a></p>
                <p class="mb-2"><span style="font-weight: bold;">{{rating}}</span> (5.0 ⭐)</p>
            </div>
            <p class="mb-2">{{food.description}}</p>
        </div>
        <div class="col-2">
            <form class="d-flex flex-column ms-auto" method="post" action="/order/add/{{food.id}}/">
                {% csrf_token %}
                <div class="input-group mb-2">
                    <div class="input-group-text w-50">Price</div>
                    <input class="form-control" type="text" value="&#2547; {{food.price}}" readonly>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <button class="btn btn-danger quanity-decrease me-2">
                        -
                    </button>
                    <input class="form-control border-2 text-center flex-grow-1 me-2 quantity-counter" type="number"
                        name="quantity" id="quantity" style="width: 5rem;" value="0" min="0">
                    <button class="btn btn-primary quanity-increase">
                        +
                    </button>
                </div>
                <button {% if not request.user.is_authenticated %} disabled {% endif %}
                    class="btn btn-success d-flex justify-content-center align-items-center gap-2 w-100">
                    {% if request.user.is_authenticated %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart-plus" viewBox="0 0 16 16">
                        <path
                            d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z" />
                        <path
                            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                    </svg>
                    Add to Cart
                    {% else %}
                    Please log in
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
    <hr>
    <div class="my-5">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h3>Foods you have recently viewed...</h3>
            <a href="#" class="btn text-white" style="background: #e21b70;">See more</a>
        </div>
        <div class="row g-3">
            {% for food, rating in recently_viewed %}
            <div class="col-3">
                <a href="/food/{{food.id}}" class="text-decoration-none">
                    <div class="card">
                        <img src="{% static 'img' %}/{{food.image_url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">{{food.title}}</h5>
                                <p class="card-text"><span style="font-weight: bold;">{{rating}}</span> (5.0 ⭐)</p>
                            </div>
                            <p class="mb-0">Price: &#2547;{{food.price}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="my-5">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h3>More from {{food.kitchen.name}}...</h3>
            <a href="#" class="btn text-white" style="background: #e21b70;">See more</a>
        </div>
        <div class="row g-3">
            {% for food, rating in kitchen_suggestions %}
            <div class="col-3">
                <a href="/food/{{food.id}}" class="text-decoration-none">
                    <div class="card">
                        <img src="{% static 'img' %}/{{food.image_url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">{{food.title}}</h5>
                                <p class="card-text"><span style="font-weight: bold;">{{rating}}</span> (5.0 ⭐)</p>
                            </div>
                            <p class="mb-0">Price: &#2547;{{food.price}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    const counterElement = document.querySelector(`#quantity`);
    const decrementButton = document.querySelector('.quanity-decrease');
    const incrementButton = document.querySelector('.quanity-increase');
    // const basePriceDisplay = document.querySelector('#base-price');
    // const totalPriceDisplay = document.querySelector('#total-price');
    // const basePrice = parseFloat(basePriceDisplay.getAttribute('price'));

    // basePriceDisplay.value = `\$${basePrice}`;
    // totalPriceDisplay.value = `\$${parseInt(counterElement.value) * basePrice}`;

    decrementButton.addEventListener('click', (e) => {
        e.preventDefault();
        const counterValue = parseInt(counterElement.value);
        if (counterValue > 0) {
            const value = counterValue - 1;
            counterElement.value = value;
            // totalPriceDisplay.value = `\$${value * basePrice}`;
        }
    });

    incrementButton.addEventListener('click', (e) => {
        e.preventDefault();
        const counterValue = parseInt(counterElement.value);
        const value = counterValue + 1;
        counterElement.value = value;
        // totalPriceDisplay.value = `\$${value * basePrice}`;
    });

    // const recommendedDecrementButtons = document.querySelectorAll('.recommended-quanity-decrease');
    // const recommendedIncrementButtons = document.querySelectorAll('.recommended-quanity-increase');

    // for (const recommendedDecrementButton of recommendedDecrementButtons) {
    //     const recommendedQuantityCounterId = recommendedDecrementButton.getAttribute('recommended-counter-id');
    //     const recommendedCounterElement = document.querySelector(`#${recommendedQuantityCounterId}`);
    //     recommendedDecrementButton.addEventListener('click', (e) => {
    //         e.preventDefault();
    //         const counterValue = parseInt(recommendedCounterElement.value);
    //         if (counterValue > 0) {
    //             recommendedCounterElement.value = counterValue - 1;
    //         }
    //     });
    // }

    // for (const recommendedIecrementButton of recommendedIncrementButtons) {
    //     const recommendedQuantityCounterId = recommendedIecrementButton.getAttribute('recommended-counter-id');
    //     const recommendedCounterElement = document.querySelector(`#${recommendedQuantityCounterId}`);
    //     recommendedIecrementButton.addEventListener('click', (e) => {
    //         e.preventDefault();
    //         const counterValue = parseInt(recommendedCounterElement.value);
    //         recommendedCounterElement.value = counterValue + 1;
    //     });
    // }
</script>

{% endblock %}
